<h1 style="color:white;">Import Movies From Excel</h1>

<p style="color:white;">
Note: Only import spreadsheets that were previously downloaded from this
  application.
</p>

<h3 style="color:white;">Requirements</h3>
<ul style="color:white;">
  <li>Here you could list the validations you have in place for your model</li>
  <li>That way your user has a better chance of successful import</li>
</ul>

<h5 style="color:white;">Select Movie</h5>
<%= form_for @movies_import do |f| %>
  <% if @movies_import.errors.any? %>
    <%= pluralize(@movies_import.errors.count, "error") %> prevented us from
    importing your spreadsheet. Please update your spreadsheet and try agin.
    <ul>
      <% @movies_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.file_field :file %>
  <%= f.submit "Import File" %>
<% end %>