<!--
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Betler Multipurpose Forms HTML Template">
  <meta name="author" content="Ansonika">
  <title>Login</title>

  <!-- Favicons-->
  <link rel="shortcut icon" href="http://bmk.clovery.si/login/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon"
    href="http://bmk.clovery.si/login/img/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
    href="http://bmk.clovery.si/login/img/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
    href="http://bmk.clovery.si/login/img/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
    href="http://bmk.clovery.si/login/img/apple-touch-icon-144x144-precomposed.png">

  <!-- GOOGLE WEB FONT -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- BASE CSS -->
  <link href="http://bmk.clovery.si/login/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://bmk.clovery.si/login/css/vendors.css" rel="stylesheet">
  <link href="http://bmk.clovery.si/login/css/style.css" rel="stylesheet">

  <!-- YOUR CUSTOM CSS -->
  <link href="http://bmk.clovery.si/login/css/custom.css" rel="stylesheet">
</head>

<body>
  <div class="background-image"
    data-background="url(http://bmk.clovery.si/dest/images/uploads/sliderv2-background.png)">
    <div class="min-vh-100 d-flex flex-column opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.25)">
      <div class="container my-auto">
        <div class="row">
          <div class="col-md-9 col-lg-7 col-xl-5 mx-auto my-4">
            <div class="panel center">
              <figure>
              <%= link_to root_path do %>
                <%= image_tag 'http://bmk.clovery.si/dest/images/BMKlogo.png', style: 'height:40px; width:46px;' %>
              <% end %>
              </figure>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <form class="input_style_1" method="post">
                  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :post, class: "social_bt facebook" %>
                  <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post, class: "social_bt google" %>
                  <div class="divider"><span>Or</span></div>
                  <div class="form-group">
                    <label for="email_address">Email Address</label>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control" %>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <%= f.password_field :password, autocomplete: "current-password" , class:"form-control" %>
                  </div>
                  <div class="clearfix mb-3">
                    <div class="float-left">
                      <label class="container_check">Remember Me
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="float-right">
                      <a style="color:#dd003f;" id="forgot" href="javascript:void(0);">Forgot Password?</a>
                    </div>
                  </div>
                  <%= f.submit "Log in" , class:"btn_1 full-width" %>
                </form>
                <% end %>
                  <p class="text-center mt-3 mb-0">Don't have an account? <%= link_to "Sign Up", new_user_registration_path, style:"color:#dd003f;" %> </p>
                  <form class="input_style_1" method="post">
                    <div id="forgot_pw">
                      <div class="form-group">
                        <label for="email_forgot">Login email</label>
                        <input type="email" class="form-control" name="email_forgot" id="email_forgot">
                      </div>
                      <p>You will receive an email containing a link allowing you to reset your password to a new
                        preferred one.</p>
                      <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
                    </div>
                  </form>
            </div>
          </div>
          <!-- /col -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
      <div class="container py-2 copy white">© 2021 Betler - All Rights Reserved.</div>
    </div>
  </div>
  <!-- /background-image -->

  <!-- COMMON SCRIPTS -->
  <script src="http://bmk.clovery.si/login/js/common_scripts.js"></script>
  <script src="http://bmk.clovery.si/login/js/common_func.js"></script>

</body>

</html>