<% response = Faraday.get("https://api.themoviedb.org/3/movie/#{params[:post_id]}?api_key=e766900bdc5dd5e8399627d7ec66594f&language=en-US") %>
<% data = JSON.parse(response.body) %>
<div class="hero mv-single-hero">
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
                    <%= image_tag("https://image.tmdb.org/t/p/original/#{data['poster_path']}") %>
                <div class="movie-btn">	
						<div class="btn-transform transform-vertical">
							<div><a href="#" class="item item-1 yellowbtn"> <i class="ion-card"></i> Buy ticket</a></div>
							<div><a href="#" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd"><%= data['original_title'] %></h1>
					<div class="social-btn">
						<a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
						<div class="hover-bnt">
							<a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
							<div class="hvr-item">
								<a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
							</div>
						</div>		
					</div>
					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span><%= data['vote_average'].to_i %></span> /10<br>
							</p>
						</div>
						<div class="rate-star">
                            <% s = 0; %>
                            <% while s < data['vote_average'].to_i do %>
							<i class="ion-ios-star"></i>
                            <% s=s+1; %>
                            <% end %>
                            <% total = 10 - s.to_i; %>
                            <% d = 0; %>
                            <% while d < total do %>
                            <i class="ion-ios-star-outline"></i>
                            <% d=d+1; %>
                            <% end %>
						</div>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#reviews"> Reviews</a></li>
								<li><a href="#cast">  Cast & Crew </a></li>
								<li><a href="#media"> Media</a></li> 
								<li><a href="#moviesrelated"> Related Movies</a></li>                        
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p> <%= data['overview'] %></p>
						            		<div class="title-hd-sm">
												<h4>Videos & Photos</h4>
												<a href="#" class="time">All 5 Videos & 245 Photos <i class="ion-ios-arrow-right"></i></a>
											</div>
											<% responset = Faraday.get("https://api.themoviedb.org/3/movie/#{params[:post_id]}/videos?api_key=e766900bdc5dd5e8399627d7ec66594f&language=en-US") %>
											<% trailer = JSON.parse(responset.body) %>
											<% if trailer['results'] != [] %>
											<% t=0; %>
											<%= while trailer['results'][t]['type'] != 'Trailer' do %>
											<% t=t+1 %>
											<% end %>
											<%= content_tag(:iframe, '', src: "http://www.youtube.com/embed/#{trailer['results'][t]['key']}", style: "width: 500px; height: 315px;" ) %>
											<% end %>
											<!-- movie cast -->
											<div class="mvcast-item">
                                            <div class="title-hd-sm">
                                            <h4>cast</h4>
                                                <a href="#" class="time">Full Cast & Crew  <i class="ion-ios-arrow-right"></i></a>
                                            </div>											
                                            <% responsec = Faraday.get("https://api.themoviedb.org/3/movie/#{params[:post_id]}/credits?api_key=e766900bdc5dd5e8399627d7ec66594f&language=en-US") %>
                                            <% cast = JSON.parse(responsec.body) %>
											<% if cast['cast'] != [] %>
                                            <% c = 0; %>
                                            <% while c < 2 %>
                                            <% c=c+1; %>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <%= image_tag("https://image.tmdb.org/t/p/original/#{cast['cast'][c]['profile_path']}", style: "width:40px; height:40px;") %>
                                                <a href="#"><%= cast['cast'][c]['name'] %>.</a>
                                                </div>
                                                <p> <%= cast['cast'][c]['character'] %>.</p>
                                            </div>
                                            <% end %>
											<% end %>
											</div>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Cast: </h6>
												<% if cast['cast'] != [] %>
                                                <% cr = 0; %>
                                                <% while cr < 2 %>
												<p><%= cast['cast'][cr]['name'] %></p>
												<p><%= cast['cast'][cr]['department'] %></p>
                                                    <% cr=cr+1; %>
                                                <% end %>
												<% end %>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Crew: </h6>
												<% if cast['crew'] != [] %>
												<% w = 0; %>
                                                <% while w < 2 %>
													<p><a href="#"><%= cast['crew'][w]['name'] %></a></p>
													<p><a href="#"><%= cast['crew'][w]['department'] %></a></p>
                                                    <% w=w+1; %>
                                                <% end %>
												<% end %>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Stars: </h6>
						            			<p><a href="#">Robert Downey Jr,</a> <a href="#">Chris Evans,</a> <a href="#">Mark Ruffalo,</a><a href="#"> Scarlett Johansson</a></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Genres:</h6>
						            			<p><a href="#">Action, </a> <a href="#"> Sci-Fi,</a> <a href="#">Adventure</a></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p><%= data['release_date'] %></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Run Time:</h6>
						            			<p><%= data['runtime'] %> min</p>
						            		</div>
						            		<div class="sb-it">
						            		<h6>Plot Keywords:</h6>
						            			<p class="tags">
												<% responsek = Faraday.get("https://api.themoviedb.org/3/movie/#{params[:post_id]}/keywords?api_key=e766900bdc5dd5e8399627d7ec66594f") %>
												<% keywords = JSON.parse(responsek.body) %>
						            		</div>

						            	</div>
						            </div>
						        </div>
						        <div id="cast" class="tab">
						        	<div class="row">
						            	<h3>Cast & Crew of</h3>
					       	 			<h2>Avengers: Age of Ultron</h2>
										<!-- //== -->
					       	 			<div class="title-hd-sm">
											<h4>Directors & Credit Writers</h4>
										</div>
										<div class="mvcast-item">											
											<div class="cast-it">
												<div class="cast-left">
													<h4>JW</h4>
													<a href="#">Joss Whedon</a>
												</div>
												<p>...  Director</p>
											</div>
										</div>
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Directors & Credit Writers</h4>
										</div>
										<div class="mvcast-item">											
											<div class="cast-it">
												<div class="cast-left">
													<h4>SL</h4>
													<a href="#">Stan Lee</a>
												</div>
												<p>...  (based on Marvel comics)</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<h4>JK</h4>
													<a href="#">Jack Kirby</a>
												</div>
												<p>...  (based on Marvel comics)</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<h4>JS</h4>
													<a href="#">Joe Simon</a>
												</div>
												<p>...  (character created by: Captain America)</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<h4>JS</h4>
													<a href="#">Joe Simon</a>
												</div>
												<p>...  (character created by: Thanos)</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<h4>RT</h4>
													<a href="#">Roy Thomas</a>
												</div>
												<p>...  (character created by: Ultron, Vision)</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<h4>JB</h4>
													<a href="#">John Buscema</a>
												</div>
												<p>...  (character created by: Ultron, Vision)</p>
											</div>
										</div>
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Cast</h4>
										</div>
										<div class="mvcast-item">											
											<div class="cast-it">
												<div class="cast-left">
													<img src="http://bmk.clovery.si/dest/images/uploads/cast1.jpg" alt="">
													<a href="#">Robert Downey Jr.</a>
												</div>
												<p>...  Robert Downey Jr.</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<img src="http://bmk.clovery.si/dest/images/uploads/cast2.jpg" alt="">
													<a href="#">Chris Hemsworth</a>
												</div>
												<p>...  Thor</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<img src="http://bmk.clovery.si/dest/images/uploads/cast3.jpg" alt="">
													<a href="#">Mark Ruffalo</a>
												</div>
												<p>...  Bruce Banner/ Hulk</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<img src="http://bmk.clovery.si/dest/images/uploads/cast4.jpg" alt="">
													<a href="#">Chris Evans</a>
												</div>
												<p>...  Steve Rogers/ Captain America</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<img src="http://bmk.clovery.si/dest/images/uploads/cast5.jpg" alt="">
													<a href="#">Scarlett Johansson</a>
												</div>
												<p>...  Natasha Romanoff/ Black Widow</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<img src="http://bmk.clovery.si/dest/images/uploads/cast6.jpg" alt="">
													<a href="#">Jeremy Renner</a>
												</div>
												<p>...  Clint Barton/ Hawkeye</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<img src="http://bmk.clovery.si/dest/images/uploads/cast7.jpg" alt="">
													<a href="#">James Spader</a>
												</div>
												<p>...  Ultron</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<img src="http://bmk.clovery.si/dest/images/uploads/cast9.jpg" alt="">
													<a href="#">Don Cheadle</a>
												</div>
												<p>...  James Rhodes/ War Machine</p>
											</div>
										</div>
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Produced by</h4>
										</div>
										<div class="mvcast-item">											
											<div class="cast-it">
												<div class="cast-left">
													<h4>VA</h4>
													<a href="#">Victoria Alonso</a>
												</div>
												<p>...  executive producer</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<h4>MB</h4>
													<a href="#">Mitchel Bell</a>
												</div>
												<p>...  co-producer (as Mitch Bell)</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<h4>JC</h4>
													<a href="#">Jamie Christopher</a>
												</div>
												<p>...  associate producer</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<h4>LD</h4>
													<a href="#">Louis D’Esposito</a>
												</div>
												<p>...  executive producer</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<h4>JF</h4>
													<a href="#">Jon Favreau</a>
												</div>
												<p>...  executive producer</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<h4>KF</h4>
													<a href="#">Kevin Feige</a>
												</div>
												<p>...  producer</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<h4>AF</h4>
													<a href="#">Alan Fine</a>
												</div>
												<p>...  executive producer</p>
											</div>
											<div class="cast-it">
												<div class="cast-left">
													<h4>JF</h4>
													<a href="#">Jeffrey Ford</a>
												</div>
												<p>...  associate producer</p>
											</div>
										</div>
						            </div>
					       	 	</div>
					       	 	<div id="media" class="tab">
						        	<div class="row">
						        		<div class="rv-hd">
						            		<div>
						            			<h3>Videos & Photos of</h3>
					       	 					<h2>Skyfall: Quantum of Spectre</h2>
						            		</div>
						            	</div>
						            	<div class="title-hd-sm">
											<h4>Videos <span>(8)</span></h4>
										</div>
										<div class="mvsingle-item media-item">
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="http://bmk.clovery.si/dest/images/uploads/vd-item1.jpg" alt="">
													<a class="fancybox-media hvr-grow"  href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="http://bmk.clovery.si/dest/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Trailer:  Watch New Scenes</a></h6>
													<p class="time"> 1: 31</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="http://bmk.clovery.si/dest/images/uploads/vd-item2.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="http://bmk.clovery.si/dest/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Featurette: “Avengers Re-Assembled</a></h6>
													<p class="time"> 1: 03</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="http://bmk.clovery.si/dest/images/uploads/vd-item3.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="http://bmk.clovery.si/dest/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Robert Downey Jr</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="http://bmk.clovery.si/dest/images/uploads/vd-item4.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="http://bmk.clovery.si/dest/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Scarlett Johansson</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="http://bmk.clovery.si/dest/images/uploads/vd-item1.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="http://bmk.clovery.si/dest/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Featurette: Meet Quicksilver & The Scarlet Witch</a></h6>
													<p class="time"> 1: 31</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="http://bmk.clovery.si/dest/images/uploads/vd-item2.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="http://bmk.clovery.si/dest/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Director Joss Whedon</a></h6>
													<p class="time"> 1: 03</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="http://bmk.clovery.si/dest/images/uploads/vd-item3.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="http://bmk.clovery.si/dest/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Mark Ruffalo</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="http://bmk.clovery.si/dest/images/uploads/vd-item4.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="http://bmk.clovery.si/dest/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Official Trailer #2</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
										</div>
										<div class="title-hd-sm">
											<h4>Photos <span> (21)</span></h4>
										</div>
										<div class="mvsingle-item">
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image11.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image1.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery"  href="http://bmk.clovery.si/dest/images/uploads/image21.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image2.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image31.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image3.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image41.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image4.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image51.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image5.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image61.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image6.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image71.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image7.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image81.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image8.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image91.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image9.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image101.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image10.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image111.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image1-1.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image121.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image12.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image131.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image13.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image141.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image14.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image151.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image15.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image161.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image16.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image171.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image17.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image181.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image18.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image191.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image19.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image201.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image20.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="http://bmk.clovery.si/dest/images/uploads/image211.jpg" ><img src="http://bmk.clovery.si/dest/images/uploads/image2-1.jpg" alt=""></a>
										</div>
						        	</div>
					       	 	</div>
					       	 	<div id="moviesrelated" class="tab">
					       	 		<div class="row">
					       	 			<h3>Related Movies To</h3>
					       	 			<h2><%= data['original_title'] %></h2>
					       	 			<div class="topbar-filter">
											<p>Found <span>6 movies</span> in total</p>
										</div>
										<% responser = Faraday.get("https://api.themoviedb.org/3/movie/#{params[:post_id]}/similar?api_key=e766900bdc5dd5e8399627d7ec66594f&language=en-US&page=1") %>
										<% related = JSON.parse(responser.body) %>
										<% r = 0; %>
										<% while r < 6 do%>
										<div class="movie-item-style-2">
										<%= image_tag("https://image.tmdb.org/t/p/original/#{related['results'][r]['poster_path']}", style: "max-width:170px; min-width:170px; min-height:250px; max-height:250px; ") %>
										<div class="mv-item-infor">
												<h6 style = "color:lightgrey;"><%= related['results'][r]['title'] %> <span>(<%= related['results'][r]['release_date'] %>)</span></h6>
												<p class="rate"><i class="ion-android-star"></i><span><%= related['results'][r]['vote_average'] %></span> /10</p>
												<p class="describe"><%= related['results'][r]['overview']%></p>
											</div>
										</div>
										<% r=r+1; %>
										<% end %>
										</div>
					       	 		</div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="http://bmk.clovery.si/dest/js/jquery.js"></script>
<script src="http://bmk.clovery.si/dest/js/plugins.js"></script>
<script src="http://bmk.clovery.si/dest/js/plugins2.js"></script>
<script src="http://bmk.clovery.si/dest/js/custom.js"></script>
</body>
</html>