<%= render "layouts/navbar" %>
<% response = Faraday.get("https://api.themoviedb.org/3/movie/#{params[:post_id]}?api_key=e766900bdc5dd5e8399627d7ec66594f&language=en-US") %>
<% data = JSON.parse(response.body) %>
<div class="hero mv-single-hero">
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
                    <%= image_tag("https://image.tmdb.org/t/p/original/#{data['poster_path']}") %>
                <div class="movie-btn">	
						<div class="btn-transform transform-vertical">
							<div class="yellowbtn" style = "cursor: default;"><i class="ion-card"></i> No shows</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd"><%= data['original_title'] %></h1>
					<div class="social-btn">
						<div class="hover-bnt">
						</div>		
					</div>
					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span><%= data['vote_average'].to_i %></span> /10<br>
							</p>
						</div>
						<div class="rate-star">
                            <% s = 0; %>
                            <% while s < data['vote_average'].to_i do %>
							<i class="ion-ios-star"></i>
                            <% s=s+1; %>
                            <% end %>
                            <% total = 10 - s.to_i; %>
                            <% d = 0; %>
                            <% while d < total do %>
                            <i class="ion-ios-star-outline"></i>
                            <% d=d+1; %>
                            <% end %>
						</div>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#moviesrelated"> Related Movies</a></li>                        
								<li></li>
								<li></li>
								<li></li> 
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p> <%= data['overview'] %></p>
						            		<div class="title-hd-sm">
												<h4>Videos & Photos</h4>
												<a href="#" class="time">All 5 Videos & 245 Photos <i class="ion-ios-arrow-right"></i></a>
											</div>
											<% responset = Faraday.get("https://api.themoviedb.org/3/movie/#{params[:post_id]}/videos?api_key=e766900bdc5dd5e8399627d7ec66594f&language=en-US") %>
											<% trailer = JSON.parse(responset.body) %>
											<% if trailer['results'] != [] %>
											<% t=0; %>
											<%= while trailer['results'][t]['type'] != 'Trailer' do %>
											<% t=t+1 %>
											<% end %>
											<%= content_tag(:iframe, '', src: "http://www.youtube.com/embed/#{trailer['results'][t]['key']}", style: "width: 500px; height: 315px;" ) %>
											<% end %>
											<!-- movie cast -->
											<div class="mvcast-item">
                                            <div class="title-hd-sm">
                                            <h4>cast</h4>
                                                <a href="#" class="time">Full Cast & Crew  <i class="ion-ios-arrow-right"></i></a>
                                            </div>											
                                            <% responsec = Faraday.get("https://api.themoviedb.org/3/movie/#{params[:post_id]}/credits?api_key=e766900bdc5dd5e8399627d7ec66594f&language=en-US") %>
                                            <% cast = JSON.parse(responsec.body) %>
											<% if cast['cast'] != [] %>
                                            <% c = 0; %>
                                            <% while c < 2 %>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <%= image_tag("https://image.tmdb.org/t/p/original/#{cast['cast'][c]['profile_path']}", style: "width:40px; height:40px;") %>
                                                <a href="#"><%= cast['cast'][c]['name'] %>.</a>
                                                </div>
                                                <p> <%= cast['cast'][c]['character'] %>.</p>
                                            </div>
											<% c=c+1; %>
											<% end %>
											<% end %>
											</div>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Cast: </h6>
												<% if cast['cast'] != [] %>
                                                <% cr = 0; %>
                                                <% while cr < 2 %>
												<p><%= cast['cast'][cr]['name'] %></p>
												<p><%= cast['cast'][cr]['department'] %></p>
                                                    <% cr=cr+1; %>
                                                <% end %>
												<% end %>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Crew: </h6>
												<% if cast['crew'] != [] %>
												<% w = 0; %>
                                                <% while w < 2 %>
													<p><a href="#"><%= cast['crew'][w]['name'] %></a></p>
													<p><a href="#"><%= cast['crew'][w]['department'] %></a></p>
                                                    <% w=w+1; %>
                                                <% end %>
												<% end %>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p><%= data['release_date'] %></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Run Time:</h6>
						            			<p><%= data['runtime'] %> min</p>
						            		</div>
						            		<div class="sb-it">
						            		<h6>Plot Keywords:</h6>
						            			<p class="tags">
												<% responsek = Faraday.get("https://api.themoviedb.org/3/movie/#{params[:post_id]}/keywords?api_key=e766900bdc5dd5e8399627d7ec66594f") %>
												<% keywords = JSON.parse(responsek.body) %>
						            		</div>

						            	</div>
						            </div>
						        </div>
					       	 	<div id="moviesrelated" class="tab">
					       	 		<div class="row">
					       	 			<h3>Related Movies To</h3>
					       	 			<h2><%= data['original_title'] %></h2>
					       	 			<div class="topbar-filter">
											<p>Found <span>6 movies</span> in total</p>
										</div>
										<% responser = Faraday.get("https://api.themoviedb.org/3/movie/#{params[:post_id]}/similar?api_key=e766900bdc5dd5e8399627d7ec66594f&language=en-US&page=1") %>
										<% related = JSON.parse(responser.body) %>
										<% r = 0; %>
										<% while r < 6 do%>
										<div class="movie-item-style-2">
										<%= image_tag("https://image.tmdb.org/t/p/original/#{related['results'][r]['poster_path']}", style: "max-width:170px; min-width:170px; min-height:250px; max-height:250px; ") %>
										<div class="mv-item-infor">
												<h6 style = "color:lightgrey;"><%= related['results'][r]['title'] %> <span>(<%= related['results'][r]['release_date'] %>)</span></h6>
												<p class="rate"><i class="ion-android-star"></i><span><%= related['results'][r]['vote_average'] %></span> /10</p>
												<p class="describe"><%= related['results'][r]['overview']%></p>
											</div>
										</div>
										<% r=r+1; %>
										<% end %>
										</div>
					       	 		</div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer style="background-image: url(http://bmk.clovery.si/dest/images/uploads/sliderv2-background.png) !important;"
	class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<a href="index.html"><img class="logo" src="images/logo1.png" alt=""></a>
				<p>5th Avenue st, manhattan<br>
					New York, NY 10001</p>
				<p>Call us: <a href="#">(+01) 202 342 6789</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Resources</h4>
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Blockbuster</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Forums</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Help Center</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Security</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Account</h4>
				<ul>
					<li><a href="#">My Account</a></li>
					<li><a href="#">Watchlist</a></li>
					<li><a href="#">Collections</a></li>
					<li><a href="#">User Guide</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Newsletter</h4>
				<p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
				<form action="#">
					<input type="text" placeholder="Enter your email...">
				</form>
				<a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p>© 2017 Blockbuster. All Rights Reserved. Designed by leehari.</p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<script src="http://bmk.clovery.si/dest/js/jquery.js"></script>
<script src="http://bmk.clovery.si/dest/js/plugins.js"></script>
<script src="http://bmk.clovery.si/dest/js/plugins2.js"></script>
<script src="http://bmk.clovery.si/dest/js/custom.js"></script>
</body>
</html>