
<%= render "layouts/navbar" %>
  <!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!-- Basic need -->
        <title>BestMovieKolektion</title>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <link rel="profile" href="#">
    <link rel="icon" type="image/x-icon" href="http://bmk.clovery.si/dest/images/BMKlogo.png">
        <!--Google Font-->
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
        <!-- Mobile specific meta -->
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone-no">
    
        <!-- CSS files -->
        <link rel="stylesheet" href="http://bmk.clovery.si/dest/css/plugins.css">
        <link rel="stylesheet" href="http://bmk.clovery.si/dest/css/style.css">
    
    </head>
<body>
<div id="preloader">
    <img class="logo" src="images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<div class="page-single movie_list">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-10 col-sm-10 col-xs-10">
                <div class="topbar-filter">
                </div>
                <%= form_with url: "/news", method: :get do |form| %>
                    <%= form.label :query, "Search for:", style: "color: lightgrey;" %>
                    <%= form.text_field :query , pattern: "[A-Za-z- -]{1,25}" %><br />
                    <%= form.submit "Search", id:"search", style: "background-color: #dd003f; color: white; padding: 10px; border-radius: 4px; border: none; width: 10%; " %>
                  <% end %>
                <br />
                  <% if params[:commit] == "Search" %>
                <!--LOOP START HERE-->
                <% responses = Faraday.get("https://api.themoviedb.org/3/search/movie?api_key=e766900bdc5dd5e8399627d7ec66594f&language=en-US&query=#{params[:query]}&page=1&include_adult=false") %>
                <% search = JSON.parse(responses.body) %>
                <% if search['results'] == [] %>
                <br />
                  <h1 style = "color:lightgrey;"> No results found </h1>
                <% else %>
                <% s = 0; %>
                <% if search['total_results'] < 6 %>
                    <h1 style="color:white;"> Not enough results </h1>
                <% else %>
                <% while s <= 5 do %>
                <div class="movie-item-style-2">
                  <% if search['results'][s]['poster_path'] == [] %>
                    <p> nema posterja </p>
                  <% else %>
                    <%= image_tag("https://image.tmdb.org/t/p/original/#{search['results'][s]['poster_path']}", style: "max-width:170px; min-width:170px;  max-height:250px; min-height:250px;") %>
                  <% end %>
                    <div class="mv-item-infor">
                        <h6><%= link_to search['results'][s]['title'], more_url(:post_id=>search['results'][s]['id']) %>  <span>(<%= search['results'][s]['release_date'] %>)</span></h6>
                        <p class="rate"><i class="ion-android-star"></i><span><%= search['results'][s]['vote_average'] %></span> /10</p>
                        <p class="describe"><%= search['results'][s]['overview']%></p>
                    </div>
                </div>
                <!--LOOP END HERE-->
                <% s=s+1; %>
                <% end %>
                <% end %>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
 
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>
</body>
</html>

<footer style="background-image: url(http://bmk.clovery.si/dest/images/uploads/sliderv2-background.png) !important;"
	class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<a href="index.html"><img class="logo" src="images/logo1.png" alt=""></a>
				<p>5th Avenue st, manhattan<br>
					New York, NY 10001</p>
				<p>Call us: <a href="#">(+01) 202 342 6789</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Resources</h4>
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Blockbuster</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Forums</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Help Center</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Security</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Account</h4>
				<ul>
					<li><a href="#">My Account</a></li>
					<li><a href="#">Watchlist</a></li>
					<li><a href="#">Collections</a></li>
					<li><a href="#">User Guide</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Newsletter</h4>
				<p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
				<form action="#">
					<input type="text" placeholder="Enter your email...">
				</form>
				<a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p>© 2017 Blockbuster. All Rights Reserved. Designed by leehari.</p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>


  