<header class="ht-header full-width-hd">
<div class="row">
  <nav id="mainNav" class="navbar navbar-default navbar-custom">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header logo">
        <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <div id="nav-icon1">
          <span></span>
          <span></span>
          <span></span>
        </div>
        </div>
        <%= link_to root_path do %>
          <%= image_tag 'http://bmk.clovery.si/dest/images/BMKlogo.png', style: 'height:75px; width:75px;' %>
        <% end %>
      </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav flex-child-menu menu-left">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="dropdown first">
          <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
          genres<i class="fa fa-angle-down" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu level1">
            <!-- <li class="dropdown">
              <a href="#">about us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
              <ul class="dropdown-menu level2">
                <li><a href="aboutv1.html">About Us 01</a></li>
                <li><a href="aboutv2.html">About Us 02</a></li>
              </ul>
            </li> -->
            <% responseg = Faraday.get('https://api.themoviedb.org/3/genre/movie/list?api_key=e766900bdc5dd5e8399627d7ec66594f&language=en-US') %>
            <% genres = JSON.parse(responseg.body) %>
            <% g=0; %>
            <% while g < 18 do %>
              <li><%= link_to genres['genres'][g]['name'], genres_url(:genre_id=>genres['genres'][g]['id']) %></li>
            <% g=g+1; %>
            <% end %>
          </ul>
        </li>
        <li class="dropdown first">
          <%= link_to "/news", class: "btn btn-default dropdown-toggle lv1" do %> Search <i class="fa fa-angle-down" aria-hidden="true"></i><% end %>
        </li>
        <li class="dropdown first">
          <%= link_to edit_user_registration_path, class: "btn btn-default dropdown-toggle lv1" do %>
          Profile <i class="fa fa-angle-down" aria-hidden="true"></i> <% end %>
        </li>
      </ul>
      <% if(!user_signed_in?)%>
      <ul class="nav navbar-nav flex-child-menu menu-right">         
        <li><%= link_to "Login", new_user_session_path, class:"nav-link active" %></li>
        <li><%= link_to "Register", new_user_registration_path, class:"nav-link active" %></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav flex-child-menu menu-right">         
        <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, style: "color: White; background-color: #dd003f; border:none; border-radius: 20px; padding:10px; width:120%;" %></li>
      </ul>
      <% end %>
    </div>
  <!-- /.navbar-collapse -->
  </nav>
  <!-- search form -->
</div>
</header>